.projects {
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

#wrapper__projects {
  /* height: 100%; */
}

#content__projects {
  padding-top: 100px;
}

#content__projects h3 {
  padding-bottom: 25px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project-card:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 960px) {
  .projects {
    height: 100%;
    padding: 0 15px 50px 15px;
  }

  .project-list {
    width: 100%;
    display: flex;

    align-items: center;
  }

  #content__projects {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    flex-direction: column;
  }

  .project-card:nth-child(odd) {
    flex-direction: column;
  }

}
