.project-card {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  padding: 20px;
  gap: 10px;
  width: 750;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.project-card img {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.project-card a img {
  border-radius: 0;
  box-shadow: none;
}

.buttons {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

.buttons__link-disabled {
  filter: invert(52%) sepia(0%) saturate(6545%) hue-rotate(330deg)
    brightness(85%) contrast(87%);
}

#content__project {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#content__project h3 {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 18px;
}

#content__project p {
  width: 300px;
  color: #767676;
  text-align: center;
}

#project-card__image {
  align-self: center;
}

#content__project a {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 15px;
  margin-top: 25px;
}

#content__project a:hover {
  cursor: pointer;
  filter: invert(39%) sepia(82%) saturate(3374%) hue-rotate(200deg)
    brightness(100%) contrast(98%);
}

#content__project .link-disabled:hover {
  filter: invert(52%) sepia(0%) saturate(6545%) hue-rotate(330deg)
    brightness(85%) contrast(87%) !important;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.badge {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px 13px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
}

@media screen and (max-width: 960px) {
  .project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 15px 0;
    margin: 0;
  }

  #content__project p {
    width: 100%;
    margin: 25px;
  }

  #project-card__image {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
  }

  .tags {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5px 0 5px;
  }
}
